html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* PLAYGROUND */
#cursor-playground {
    cursor: none;
}

.cursor {
    position: absolute;
    width: 20px;
    height: 20px;
}

/* CHAT */
#messages > li {
    padding: 0.5rem 1rem;
}
